# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: AddressParser - Test

on:
  push:
    branches: [ "test" ]
  pull_request:
    branches: [ "test" ]


jobs:
  build:
    name: Swift ${{ matrix.swift }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        swift: ["6.0", "6.1", "6.2"]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - uses: swift-actions/setup-swift@v2
      with:
        swift-version: ${{ matrix.swift }}
    - name: Get swift version
      run: swift --versio
    
    - name: Build AddressParser library
      run: swift build -v
      
    - name: Run tests
      run: swift test -v
