name: AddressParser - Test
on:
  push:
    branches: [ "test" ]
  pull_request:
    branches: [ "test" ]

jobs:
  build-linux:
    name: Swift ${{ matrix.swift }} on Linux
    runs-on: ubuntu-latest
    strategy:
      matrix:
        swift: ["6.0", "6.1"]
    container:
      image: swift:${{ matrix.swift }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      
    - name: Get swift version
      run: swift --version  # Fixed typo here
    
    - name: Build AddressParser library
      run: swift build -v
      
    - name: Run tests
      run: swift test -v

  build-macos:
    name: Swift ${{ matrix.swift }} on macOS
    runs-on: macos-latest
    strategy:
      matrix:
        swift: ["6.0", "6.1"]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      
    - uses: swift-actions/setup-swift@v2
      with:
        swift-version: ${{ matrix.swift }}
        
    - name: Get swift version
      run: swift --version  # Fixed typo
    
    - name: Build AddressParser library
      run: swift build -v
      
    - name: Run tests
      run: swift test -v
